<div class="container">

  <h1><%= @category.title %></h1>
  <br>
  <%= link_to "Edit Category", edit_category_path(@category) %>
  <br>

  Jobs:
  <% @category.jobs.each do |job| %>
  <ul><%= link_to job.title, job_path(job) %> at <%= job.company.name %></ul>
  <% end %>
</div>
